html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Karla, Avenir Next, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
}

*:focus {
    outline: none;
}

/* ---------------------------------------------------------------------------------------------------------------- */
#navbar {
    width: 100%;
    height: 90px;
    background-color: none;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-size: 120px 120px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}

#navbar #logo {
    margin: auto 5%;
    font-size: 20px;
    font-weight: bold;
}

#navbar #options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto 4% auto 0;
}

#navbar #options p a {
    text-decoration: none;
    color: rgb(74, 74, 74);
    cursor: pointer;
}

#navbar #options p a:hover {
    color: #273c75;
    cursor: pointer;
    transition: 0.5s;
}

#navbar #options p {
    margin: 0 25px;
    font-size: 18px;
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* Style the accordian */
.accordion {
    background-color: #4472C4;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
    font-family: Karla, Avenir Next, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border-style: solid;
}

.active,
.accordion:hover {
    background-color: #60a3bc;
}

.panel {
    padding-top: 5px;
    padding-bottom: 30px;
    display: none;
    overflow: hidden;
    width: 70%;
    margin: auto;
    font-family: Karla, Avenir Next, sans-serif;
    font-size: 25px;
}

/* #panel-header {
    width: 95%;
    margin: 0 auto;
    color: #222f3e;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 0 0;
    text-align: left;
} */

#panel-list {
    width: 90%;
    margin: 0 auto;
    color: black;
    font-size: 17px;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: left;
}

#panel-button {
    text-align: center;
    width: 95%;
    padding: 10px 15px;
    height: 50px;
    font-family: Karla, Avenir Next, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid gray;
    background: white;
    border-radius: 10px;
    margin: auto;
    color: #e58e26;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#panel-button:hover {
    color: #60a3bc;
    opacity: 0.75;
    cursor: pointer;
    transition: 0.5s;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#main-container {
    /* background-color: whitesmoke; */
    /* background-size: 120px 120px; */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px); */
    /* background-image: radial-gradient(circle, rgba(0, 0, 0, 0.25) 2px, rgba(0, 0, 0, 0) 1px); */
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px 0;
    text-align: center;
}

#hero-img {
    width: 70%;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 20px auto;
    background-size: contain;
    background-repeat: no-repeat;
}

#hero-img-dup {
    display: none;
}

#about-para {
    width: 70%;
    color: black;
    font-size: 21px;
    line-height: 32px;
    padding: 10px 0 30px 0;
    margin: 0 auto;
    text-align: left;
}

#segment-header {
    width: 70%;
    margin: 0 auto;
    color: #222f3e;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0 0 0;
    text-align: left;
}

#segment-para {
    width: 70%;
    margin: 0 auto;
    color: black;
    font-size: 20px;
    line-height: 32px;
    padding: 10px 0;
    text-align: left;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#footer {
    white-space: 100%;
    min-height: 200px;
    height: auto;
    margin-top: 30px;
    padding-bottom: 20px;
    background-color: #60a3bc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

#footer #footer-logo {
    height: 60px;
    margin: auto 0;
    padding-top: 20px;
}

#footer #footer-details {
    margin: auto 5%;
}

#footer #socials {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 10px;
}

#footer #socials i {
    font-size: 25px;
    padding: 0 35px 15px 0;
    text-decoration: none;
    color: white;
}

#footer #socials i:hover {
    color: gold;
    cursor: pointer;
    transition: 0.5s;
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media (max-width: 1160px) {
    #footer #footer-logo {
        height: 60px;
    }

    #hero-img-dup {
        display: none;
    }

    #tab-img-dup {
        display: none;
    }

}

/* ---------------------------------------------------------------------------------------------------------------- */

@media (max-width: 450px) {
    #navbar {
        height: 120px;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        padding-bottom: 15px;
        z-index: 1000;
    }

    #navbar #logo {
        margin: 30px auto 10px auto;
    }

    #navbar #options {
        width: 100%;
        margin: auto 0;
    }

    #navbar #options p {
        margin: 0 10px;
    }

    #navbar #options p a {
        font-size: 17px;
    }

    .accordion {
        width: 85%;
    }

    .panel {
        width: 85%;
    }


    #hero-img {
        display: none;
    }

    #hero-img-dup {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    #about-para {
        width: 85%;
        padding-top: 0;
    }

    #segment-header {
        width: 85%;
    }

    #segment-para {
        width: 85%;
    }

    #footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #footer #footer-details {
        margin: 0 auto;
        text-align: center;
    }

    #footer #footer-logo {
        height: 40px;
        margin: 5px auto 0 auto;
    }

    #footer #socials {
        margin: 5px auto 20px auto;
        justify-content: center;
        text-align: center;
    }

    #footer #socials i {
        margin: 10px;
        padding: 0;
    }

    #footer #disclaimers {
        font-size: 13px;
    }
}